/* Global */

  body{
    margin: 0;
    height: 200vh;
    font: 11px Arial,sans-serif;
  }

  p{
    margin: 0;
  }

  .pointer{
    cursor: pointer;
  }

  h1{
    font-size: 54px;
    line-height: 60px;
    font-weight: 300;
  }

  h2{
    font-size: 27px;
    line-height: 31px;
  }

  .push-right{
    margin-right: 25px;
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* End Global */

/* Main Nav */

  .flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-nav{
    background: #000;
    height: 80px;
  }

  #menu-as{
    margin-left: 35px;
    font: 700 11px Arial,sans-serif;
  }

  .main-nav-item{
    display: flex;
    align-items: center;
    color: #fff;
  }

  .main-nav-item:hover{
    cursor: pointer;
  }

  #sections-area{
    margin-right: 28px;
  }

  .menu-img{
    height: 20px;
    margin-right: 10px;
  }

  #logo-img{
    width: 380px;
  }

  #header{
    margin-bottom: 30px;
  }

  /* Buttons */

    .flex-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
    }

    .caps{
      font-size: 13px;
      font-weight: bold;
    }

    #menu-btns{
      margin-right: 35px;
    }

    #login-btn{
      /* source: dev tools on http://www.sandiegouniontribune.com/ */
      padding: 12px 0 13px;
      border: 1px solid #fff;
      border-radius: 2px;
      height: 12px;
      color: #fff;
      width: 86px;
      /* End source: dev tools on http://www.sandiegouniontribune.com/ */
    }

    #sale-btn{
      /* source: dev tools on http://www.sandiegouniontribune.com/ */
      height: 26px;
      margin: 0 9px 0 0;
      padding: 4px 0 7px;
      border-radius: 2px;
      text-align: center;
      color: #000;
      line-height: 15px;
      border: 1px solid #fcb400;
      background-color: #fcb400;
      width: 106px;
      /* End source: dev tools on http://www.sandiegouniontribune.com/ */
    }
  /* End Buttons */
/* End Main Nav */

/* Secondary Nav */

  #secondary-nav{
    background-color: #E6E6E6;
    border-bottom: 1px solid #999;
    height: 50px;
    color: #666;
  }

  .tab-item{
    text-transform: uppercase;
    margin: 0 9.5px;
    font: 11px/12px Arial,sans-serif;
    padding: 19px 0;
  }

  .tab-item:hover{
    color: #000;
    border-bottom: 5px solid;
    padding-bottom: 14px;
  }

  #weather img{
    height: 26px;
    margin-right: 5px;
  }

  #date{
    margin-left: 35px;
  }

  #weather{
    margin-right: 35px;
    font-family: Georgia,'Droid Serif',serif;
    font-weight: 700;
    font-size: 18px;
  }


/* End Secondary Nav */

/* Content */

  #content{
    font-size: 18px;
    line-height: 27px;
    font: 15px/24px Georgia,'Droid Serif',serif;
    color: #333;
    padding: 0 110px;
  }

  #article-area{
    width: calc(100% - 340px);
  }

  .fa-facebook-f{
    color: #3B5998;
  }

  .fa-twitter{
    color: #1DA1F2;
  }

  #news-path{
    color: #294F70;
    font: 13px/16px Arial,sans-serif;
  }

  .path-item:hover{
    color: #6a849b;
  }

  #article-img{
    max-width: 100%;
  }

  .gray-text{
    font: 12px/17px Arial,sans-serif;
    color: #999;
  }

  #author-area{
    justify-content: flex-start;
  }

  #author-pic{
    border-radius: 50%;
    height: 70px;
    margin-right: 20px;
  }

  #byline{
    font: 14px/1 Georgia,'Droid Serif',serif;
  }

  #orange-text{
    font-weight: 700;
    color: #FF5443;
  }

  .bottom-space{
    margin-bottom: 25px;
  }

  #copyright{
    font: 12px Arial,sans-serif;
    clear: left;
    padding: 4px 0 6px 0;
    color: #666;
    text-decoration: none;
    margin: 14px 0;
  }

  #related{
    font: 14px/18px Arial,sans-serif;
  }

  #copyright-text:hover{
    color: #77b3cc;
  }

  .blue-text{
    color: #4591b8;
  }

  .blue-text:hover{
    color: #77b3cc;
  }

  #view-comments-btn{
    text-align: center;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto 20px;
    border: 1px solid #FF5443;
    color: #FF5443;
    font: 700 12px Arial,sans-serif;
    cursor: pointer;
  }

  #view-comments-btn:hover{
    background: #FF5443;
    color: #fff;
  }

  iframe{
    height: 500px;
    width: 100%;
    border: 0;
  }

  .copy{
    font: 15px/24px Georgia,'Droid Serif',serif;
    font-size: 18px;
    line-height: 27px;  
    margin-bottom: 18px;
    color: #333;
  }

  .chart{
    margin-bottom: 18px;
  }

  .chart-tall .highcharts-xaxis-labels text{ 
    display: none;
  }

/* End Content */

/* Mobile */
@media only screen and (max-width: 600px) {

/* Header */
  #logo-img{
    width: 90%;
  }
  .mobile-none{
    display: none;
  }
  #main-nav{
    height: 60px;
  }
/* End Header */

  #content{
    margin: 0 40px;
    padding: 0;
  }

  #article-area{
    width: 95%;
  }

  .chart{
    width: 100%;
  }

  .chart-tall{
     height: 500px;
  }
  
}

/* End Mobile */